# This is an ST NUCLEO F334R8 board with a single STM32F334R8T6 chip.
# http://www.st.com/web/catalog/tools/FM116/SC959/SS1532/LN1847/PF260004

source [find interface/stlink.cfg]

transport select hla_swd

# F303K8 の SRAM は 12KB なので、デフォルト(16KB)の作業領域を縮める
set WORKAREASIZE 0x2000

source [find target/stm32f3x.cfg]

reset_config srst_only
